.city-names button {
  margin-right: 10px;
  border: 2px solid transparent;
}
.properties {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 30px;
}
.footer {
  margin-top: 30px;
  text-align: center;
}
.primary-btn {
  color: white;
  background-color: #373be3;
  border: 2px solid #373be3;
}
.secondary-btn {
  border: 2px solid #3738e3;
  color: #3738e3;
  background: transparent;
}
